<%= form_with(model: booking,url: complaints_booking_path(booking.id), method: :put) do |form| %>
    <div style="display: flex; align-items: center;">
  <%= form.text_field :complaints, style: "margin-right: 10px;" %>
  <%= form.submit "Submit" %>
</div>
<%end%>