<html>
    <head>
        <style>
        body {
            background-image: url('room.avif');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            }
        
        .cont {
        position:relative;
        width: 100%;
        }

        .cont img {
        width: 100%;
        height: auto;
        opacity: 0.5;
        }

        </style>
    </head>
    <body>
        <div class="cont">
            <%= image_tag 'room.avif', alt: 'My Logo', style:"width:100%; height: 80%;"%>
        </div>
    </body>
</html>