<html>
    <head>
        <title>Your Payment</title>
    </head>
    <body>
        <h1><%= @user.name%>, Your room booking is confirmed!</h1>
        <h3>Booking Details</h3>
        <div>
            <%= @booking.id%>
            <%= @booking.total_price%>
        </div>
    </body>
</html>