/* Add this CSS to payments.css */
.main-container {
  display: flex;
  align-items: center;
  

}
.main-container .container {
    width: 70%;
    /* margin: 0 auto; */
    /* padding: 20px; */
    

  }
.main-container .total{
  text-align: center;
  padding-left: 10%;
  padding-top: 7%;
  padding-bottom: 7%;
  width: 30%;
  background-color:  #ccf2ff;
}
.main-container .total h4{
  font-size: 28px;
}
  
  h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 2%;
    margin-top: 3%;
  }
  
  .payments-form {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-right: 51%;
    width: 50%;
    padding-left: 5%;
    /* padding: 20px; */
  }
  
  .form-field {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .form-label{
    font-size: 17px;
    margin-top: 2%;
  }
  .btn-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  